<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/se</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <mapping resource="Account.hbm.xml"/>
        <mapping resource="Bookmark.hbm.xml"/>
        <mapping resource="Comment.hbm.xml"/>
        <mapping resource="ContentType.hbm.xml"/>
        <mapping resource="Course.hbm.xml"/>
        <mapping resource="Follower.hbm.xml"/>
        <mapping resource="ImgComment.hbm.xml"/>
        <mapping resource="ImgCourse.hbm.xml"/>
        <mapping resource="ImgPost.hbm.xml"/>
        <mapping resource="ImgVerify.hbm.xml"/>
        <mapping resource="JoinCourse.hbm.xml"/>
        <mapping resource="LikeComment.hbm.xml"/>
        <mapping resource="LikePost.hbm.xml"/>
        <mapping resource="PaymentCheck.hbm.xml"/>
        <mapping resource="Post.hbm.xml"/>
        <mapping resource="Report.hbm.xml"/>
        <mapping resource="RequestCourse.hbm.xml"/>
        <mapping resource="RequestVerify.hbm.xml"/>
        <mapping resource="ReportType.hbm.xml"/>
        <mapping resource="Staff.hbm.xml"/>
        <mapping resource="User.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
