.dialog-containerV {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 100;

    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
  }
  
  .overlayV {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;


    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: 999; */
  }

  .setReportButton {
    background-color: "#fff";
    padding: 15px;
    font-size: 22px;
    color: "#DC143C";
    border: 'none', 
  }

  .selectdesign {
    align-items: center;
    padding: 15px;
  }
  .containerSelectnote{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .areadetail{
    width: 30%;
  }

  .dialog-buttonV {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    gap: 50px;
}

.dialog-buttonV2 {
    background-color: #DC143C;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    gap: 50px;
    margin: 10px;
}

.dialog-footerV {
    flex-direction: row;
    bottom: 20px;
    right: 20px;
    margin-left: 22%;
    margin-right: 20%;
}


.fcheck {
    text-decoration: none;
    border: none;
}