

.HomePage{
    display: flex; 
    height: max-content;
    /* justify-content: end; */
    margin-right: 50px;
    margin-bottom: 10%;
}

/* ส่วนกรอบ content */
.allContent{
    display: flex; 
    justify-content: space-around;
    padding-top: 20px;
    height: 100%;
    width: 1000px;
    flex-wrap: wrap;
    row-gap:50px;
    background-color: #ffffff;
    
}
/* ส่วน content แต่ละอัน */
.content{
    display: flex;
    flex-direction: column  ;
    height: 350px;
    width: 350px;
    /* margin-top: 20px; */
    background-color:rgb(51, 73, 122);
    border-radius:20px;
    
}

.search-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 100;
    margin-left:50px;
    background-color: #001d3d;
    padding: 20px;
    border-radius: 8px;

}

.toggleBut{
    display: flex; 
    justify-content: space-around;
    margin-inline: 20px;
    /* margin-left: 350px;
    margin-right: 105px; */
    


}

.button-s{
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    width: 100%;
   
}

.button-s .but-a{
    background-color: #D9D9D9;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 8px;
    gap: 5px;
}

.button-s .but-a:hover{
    background-color: #ffc300;
    
}



/* /////////////////////////////////////// */

.b-img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    /* border-top-left-radius: 20px;
    border-top-right-radius:20px; */
    margin-bottom: 10px;
    
}

.b-info{
    width: fit-content;

}
